* {
  margin: 0;
  padding: 0;
  text-decoration: none !important ;
  list-style-type: none !important;
  scroll-behavior: smooth;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#goTop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  border: 1px solid #b44747;
  border-radius: 50%;
  outline: none;
  background-color: #b44747 !important;
  color: white;
  cursor: pointer;
  padding: 20px;
}

#goTop::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  top: 40%;
  left: 40%;
  border-bottom: none;
  border-left: none;
  transform: rotate(-45deg);
}

#goTop:hover {
  background-color: #e67e7e !important;
  border: 1px solid #e67e7e;
}

#carousel-wrapper {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#carousel-wrapper #menu {
  width: 200px;
  overflow: hidden;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transition: all 0.6s ease-in-out;
  margin-left: 10px;
}

#carousel-wrapper #menu #current-option {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

#carousel-wrapper #menu #current-option #current-option-text1 {
  font-size: 12.5px;
  color: #333;
  line-height: 1rem;
  width: 140px;
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#carousel-wrapper #menu #current-option #current-option-text1::before {
  content: attr(data-next-text);
  position: absolute;
  transform: translate(0%, 380px);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#carousel-wrapper #menu #current-option #current-option-text1::after {
  content: attr(data-previous-text);
  position: absolute;
  transform: translate(0%, -380px);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#carousel-wrapper #menu #current-option #current-option-text2 {
  font-size: 12px;
  color: rgb(105, 105, 105);
  margin-bottom: 7px;
  width: 140px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#carousel-wrapper #menu #current-option #current-option-text4 {
  font-size: 12px;
  color: red;
  margin-bottom: 7px;
  width: 140px;
}

#carousel-wrapper #menu #current-option #current-option-text3 {
  font-size: 15px;
  color: #b44747;
  margin-bottom: 5px;
  width: 140px;
}

#carousel-wrapper #menu #current-option #current-option-text2::before {
  content: attr(data-next-text);
  position: absolute;
  transform: translate(0%, 380px);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

#carousel-wrapper #menu #current-option #current-option-text2::after {
  content: attr(data-previous-text);
  position: absolute;
  transform: translate(0%, -380px);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

#carousel-wrapper #menu #previous-option {
  width: 1rem;
  height: 1rem;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  background: #fff;
  background-size: cover;
  position: absolute;
  transform: translate(71px, 24px);
}

#carousel-wrapper #menu #next-option {
  width: 1rem;
  height: 1rem;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  background: #fff;
  background-size: cover;
  position: absolute;
  transform: translate(71px, -24px);
}

#carousel-wrapper #image {
  height: 111px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 101;
  border-radius: 4px;
}

#carousel-wrapper #image img {
  border-radius: 4px;
}

/* End Navbar CSS */

.home_slider {
  width: 1200px;
  height: 700px;
  margin: auto;
}
.carousel-item img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel-caption {
  margin-bottom: 15px !important;
}
.main_area {
  width: 1200px;
  margin: auto;
}
.product-filter,
.features_items {
  border-top: 2px solid #b44747 !important;
}
.price_range {
  position: sticky;
  top: 50px;
  margin-bottom: 60px;
}

.product-filter > span,
.features_items .d-flex > span {
  background-color: #b44747;
  color: white;
  padding: 2px 7px 4px 7px;
}

.features_items .col-lg-3,
.features_items .col-md-6,
.features_items .col-sm-12 {
  padding-right: 10px;
  padding-left: 10px;
}
.features_items .item_name {
  font-family: roboto, sans-serif;
  font-size: 15px;
  color: #4b4b4b;
  margin-bottom: 0 !important;
}

.item_img {
  height: 330px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.fav {
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 20;
}

.fav svg {
  cursor: pointer;
  overflow: visible;
  width: 40px;
  z-index: 20;
  border: 0.1px solid #ffffff;
  border-radius: 50%;
  background-color: #fff;
}

.fav svg #heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

.fav svg #main-circ {
  transform-origin: 29.5px 29.5px;
}

.fav-checkbox {
  display: none;
}

.fav-checkbox:checked ~ svg #heart {
  transform: scale(0.2);
  fill: #b94747;
  animation: animateHeart 0.3s linear forwards 0.25s;
}

.fav-checkbox:checked ~ svg #main-circ {
  transition: all 2s;
  animation: animateCircle 0.3s linear forwards;
  opacity: 1;
}

.fav-checkbox:checked ~ svg #grp1 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.fav-checkbox:checked ~ svg #grp1 #oval1 {
  transform: scale(0) translate(0, -30px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp1 #oval2 {
  transform: scale(0) translate(10px, -50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp2 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.fav-checkbox:checked ~ svg #grp2 #oval1 {
  transform: scale(0) translate(30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp2 #oval2 {
  transform: scale(0) translate(60px, -15px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp3 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.fav-checkbox:checked ~ svg #grp3 #oval1 {
  transform: scale(0) translate(30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp3 #oval2 {
  transform: scale(0) translate(60px, 10px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp4 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.fav-checkbox:checked ~ svg #grp4 #oval1 {
  transform: scale(0) translate(30px, 15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp4 #oval2 {
  transform: scale(0) translate(40px, 50px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp5 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.fav-checkbox:checked ~ svg #grp5 #oval1 {
  transform: scale(0) translate(-10px, 20px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp5 #oval2 {
  transform: scale(0) translate(-60px, 30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp6 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.fav-checkbox:checked ~ svg #grp6 #oval1 {
  transform: scale(0) translate(-30px, 0px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp6 #oval2 {
  transform: scale(0) translate(-60px, -5px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp7 {
  opacity: 1;
  transition: 0.1s all 0.3s;
}

.fav-checkbox:checked ~ svg #grp7 #oval1 {
  transform: scale(0) translate(-30px, -15px);
  transform-origin: 0 0 0;
  transition: 0.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp7 #oval2 {
  transform: scale(0) translate(-55px, -30px);
  transform-origin: 0 0 0;
  transition: 1.5s transform 0.3s;
}

.fav-checkbox:checked ~ svg #grp2 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.fav-checkbox:checked ~ svg #grp3 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.fav-checkbox:checked ~ svg #grp4 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.fav-checkbox:checked ~ svg #grp5 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.fav-checkbox:checked ~ svg #grp6 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

.fav-checkbox:checked ~ svg #grp7 {
  opacity: 1;
  transition: 0.1s opacity 0.3s;
}

@keyframes animateCircle {
  40% {
    transform: scale(10);
    opacity: 1;
    fill: #e76c6c;
  }

  55% {
    transform: scale(11);
    opacity: 1;
    fill: #b14b4b;
  }

  65% {
    transform: scale(12);
    opacity: 1;
    fill: #b45b5b;
  }

  75% {
    transform: scale(13);
    opacity: 1;
    fill: transparent;
    stroke: #b86161;
    stroke-width: 0.5;
  }

  85% {
    transform: scale(17);
    opacity: 1;
    fill: transparent;
    stroke: #b86161;
    stroke-width: 0.2;
  }

  95% {
    transform: scale(18);
    opacity: 1;
    fill: transparent;
    stroke: #b86161;
    stroke-width: 0.1;
  }

  100% {
    transform: scale(19);
    opacity: 1;
    fill: transparent;
    stroke: #c77272;
    stroke-width: 0;
  }
}

@keyframes animateHeart {
  0% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

.features_items .item_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s ease-out 0s;
}

.features_items .item_content:hover img {
  transform: scale(1.2);
}

.features_items .item_price {
  margin-top: 10px;
  color: #b44747;
  font-family: roboto, sans-serif;
  font-size: 19px;
  font-weight: 700;
  display: inline-block;
}
.features_items .item_previous_price {
  display: inline;
  color: #666666;
  font-size: 16px;
  text-decoration: line-through !important;
  font-weight: 300;
  margin-left: 5px;
}
.features_items .item_desc {
  position: relative;
  display: block;
  line-height: normal;
  font-size: 13px;
  color: rgb(117, 117, 117);
  margin-top: 2px;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item_content .add_wishlist,
.item_content .more_details {
  color: #909090;
  font-family: roboto, sans-serif;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0;
}

.main_area .item_content .add_wishlist button:hover,
.main_area .item_content .more_details button:hover {
  color: #b44747 !important;
}
.item_content {
  border: 1px solid #f7f7f5 !important;
}
.item_content .more_details i {
  font-size: 13.45px;
}

.add {
  border-top: 1px solid #f7f7f5;
  background-color: rgba(174, 67, 67, 0.1);
  color: #ae4343;
  padding: 4.5px 0;
}

.get_it {
  color: white;
}

.get_it:hover {
  color: black;
}

.add_wishlist button,
.more_details button {
  border: none !important;
  outline: none !important;
  background-color: transparent;
  color: #adadad;
  padding: 10px 0px;
}
.more_details button a {
  color: #adadad;
}
.more_details button:hover a {
  color: #b14b4b;
}
.add_wishlist button:focus,
.more_details button:focus {
  border: none;
}

.brands,
.price_range {
  border-top: 2px solid #b44747 !important;
}

.brands > span,
.price_range > span {
  background-color: #b44747;
  color: white;
  padding: 1px 7px 4px 7px;
}

/* Footer CSS */
footer {
  width: 100%;
  padding-top: 60px;
  box-shadow: 0 0 25px rgb(170 170 170 / 10%);
  background-color: #fafafa;
}

footer .pay_cards {
  border-bottom: 1px solid rgb(230, 230, 230);
}

footer .pay_cards img {
  width: 70%;
  object-fit: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

footer h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 25px;
}

footer ul li {
  font-size: 15px;
  color: #fff;
  margin: 13px 0 0;
}

footer ul li a {
  color: rgb(58, 58, 58);
  cursor: pointer;
}

main {
  position: relative;
}

main::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #fafafa, transparent);
}

.last_item_content {
  margin-bottom: 100px;
}

.footer_logo {
  width: 100px;
  height: 100px;
}

/* .footer_logo img {
  width: 200px;
  height:200px;
  object-fit: cover;
} */

.footer_contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer_contact i {
  font-size: 23px;
  margin-right: 7px;
}

footer .footer_contact {
  font-family: var(--sff), Open Sans, sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 10px;
}
.footer_social_media a i {
  font-size: 28px;
  color: black;
  padding: 7px;
}

.footer_social_media a i:hover {
  color: rgb(100, 100, 100);
}

.footer_social_media a:nth-child(1) i {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 4px;
}

.footer_bottom {
  background-color: #d8d8d8;
  padding: 5px 0;
}

.footer_bottom small {
  color: rgb(37, 37, 37);
}

/* Details CSS */

.bbb_viewed_title_container {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.viewed {
  width: 65%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 60px;
}

.bbb_viewed_title_container {
  border-bottom: solid 1px #dadada;
}

.bbb_viewed_title {
  margin-bottom: 14px;
}

.bbb_viewed_nav_container {
  position: absolute;
  right: -5px;
  bottom: 14px;
}

.bbb_viewed_nav {
  display: inline-block;
  cursor: pointer;
}

.bbb_viewed_nav i {
  color: #dadada;
  font-size: 18px;
  padding: 5px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.bbb_viewed_nav:hover i {
  color: #606264;
}

.bbb_viewed_prev {
  margin-right: 15px;
}

.bbb_viewed_slider_container {
  padding-top: 50px;
}

.bbb_viewed_item {
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  margin-top: 25px;
  padding-bottom: 25px;
  padding-right: 30px;
}

.bbb_viewed_image {
  width: 200px;
  height: 280px;
}

.bbb_viewed_image img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.bbb_viewed_content {
  width: 200px;
  padding-top: 10px;
  padding-left: 5px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 0 0 4px 4px;
  border-top: none;
  height: 85px;
}

.bbb_viewed_price {
  font-size: 14px;
  font-weight: 500;
  color: #b44747;
}

.bbb_viewed_item.discount .bbb_viewed_price {
  color: #b44747;
}

.bbb_viewed_price span {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 8px;
}

.bbb_viewed_price span::after {
  display: block;
  position: absolute;
  top: 8px;
  left: -2px;
  width: calc(100% + 4px);
  height: 1px;
  background: #8d8d8d;
  content: "";
}

.bbb_viewed_name {
  margin-top: 3px;
  line-height: 18px;
}

.bbb_viewed_name a {
  font-size: 13px;
  color: #000000;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bbb_viewed_name a:hover {
  color: #b44747;
}

.item_marks {
  position: absolute;
  top: 18px;
  left: 18px;
}

.item_mark {
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.item_discount {
  background: #b44747;
  margin-right: 5px;
}

.item_new {
  background: #0e8ce4;
}

.bbb_viewed_item.discount .item_discount {
  display: inline-block;
}

.bbb_viewed_item.is_new .item_new {
  display: inline-block;
}

/* Details CSS */
.details {
  width: 1200px;
  margin: auto;
}

.details_item {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 2px;
  padding: 20px 0;
}

.details_path {
  margin: 7px !important;
  margin-left: 0 !important;
  display: flex;
  align-items: center;
}

.details_path a {
  font-family: source_sans_prosemibold, serif !important;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 15px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  letter-spacing: 0.18px;
  font-weight: 300;
}

.details_path i {
  font-size: 9px;
  color: #b44747;
  margin: 2px 7px 0px 7px;
}

.details_img {
  height: 750px;
}

.details_info {
  height: 750px;
}

/* Details Info */
.details_desc h2,
.details_color h2,
.details_size h2 {
  width: 100%;
  color: #202020;
  font-size: 17px;
  text-align: left;
  margin: 0;
  font-family: var(--sff), Open Sans, sans-serif;
  font-weight: 400;
  margin: 4px 0;
}

.details_desc span {
  width: 50%;
  font-size: 17px;
  display: inline-block;
  font-weight: 600;
  font-family: var(--sff), Open Sans, sans-serif;
}

.details_desc small {
  color: gray;
}
:root {
  --star-size: 25px;
  --star-color: rgb(223, 223, 223);
  --star-background: rgb(240, 192, 3);
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Color CSS */
.product_color label {
  display: inline-block;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 100%;
}

.product_color img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.product_color {
  border-bottom: 1px solid rgb(228, 228, 228);
}
.product_color label,
.details_size label {
  cursor: pointer;
}
/* Size CSS */
.size_choices {
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.size_choices div {
  display: inline-block;
  margin-right: 10px !important;
}

.size_choices input[type="radio"] {
  display: none;
}

.product_color input[type="radio"] {
  display: none;
}

.size_choices input[type="radio"] + label {
  position: relative;
}

.size_choices input[type="radio"] + label span {
  padding: 7px 10px;
  border-radius: 3px;
  color: #db6161 !important;
}

.size_choices input[type="radio"] + label span {
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.size_choices input[type="radio"]:checked + label span {
  border: 1px solid #f56e6e;
}

.product_color input[type="radio"]:checked + label img {
  border: 1px solid #f56e6e;
}

.size_choices input[type="radio"]:checked + label:after {
  content: "";
  width: 9px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #cf5656;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.details_basket .details_add {
  border: none !important;
  outline: none !important;
  padding: 3px;
  color: white;
  background: transparent;
  font-size: 18px;
  display: inline-block;
  font-weight: 600;
  font-family: var(--sff), Open Sans, sans-serif;
  height: 50px;
  margin-top: 5px;
}

.details_basket .fav {
  position: relative;
}
.details_basket .fav path {
  fill: white;
}
.details_basket .fav svg {
  background-color: #e6e6e6;
  width: 50px;
}
.details_basket .details_add {
  border: 1px solid #b44747;
  border-radius: 6px;
  background: #b44747;
}

.product_details {
  height: 175px;
  overflow-y: scroll;
}

.product_details h6 {
  font-size: 14px;
  font-family: var(--sff), Open Sans, sans-serif;
  display: inline;
}

.product_details small {
  font-size: 13px;
}
.product_details > ul {
  padding: 3px;
}
#scrollstyle::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #f5f5f5;
}

#scrollstyle::-webkit-scrollbar {
  border-radius: 4px;
  width: 3px;
  background-color: #f5f5f5;
}

#scrollstyle::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(149, 149, 149);
  border: 1px solid rgb(149, 149, 149);
}

/* Zoom CSS */
/* .show {
  width: 100%;
  height: 600px;
  position: relative;
} */
/* .show i {
  position: absolute;
  z-index: 20;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #dd6e14;
}
.show i:first-child {
  left: 30px;
}
.show i:nth-child(2) {
  right: 30px;
} */

/* .show img {
  border-radius: 5px;
  object-fit: cover;
} */

.small-img {
  /* width: 350px; */
  height: 70px;
  margin: 10px auto;
  /* position: relative;
  left: 50%;
  transform: translateX(-50%); */
}

.small-img .icon-left,
.small-img .icon-right {
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.small-img .icon-left {
  transform: rotate(180deg);
}

.small-img .icon-right {
  right: 0;
}

.small-img .icon-left:hover,
.small-img .icon-right:hover {
  opacity: 0.5;
}

.small-container {
  width: 340px;
  height: 100px;
  overflow: hidden;
  margin: auto !important;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%);
  right: 0; */
}

.small-container div {
  width: 800%;
  position: relative;
}

.small-container .show-small-img {
  width: 80px;
  height: 100px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}

.small-container .show-small-img:last-of-type {
  margin-right: 0;
}

/* Basket CSS */

.basket {
  width: 1200px;
  margin: 0 auto;
}

.single_basket {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
  margin-top: 20px;
}

.seller {
  background-color: #fafafa;
  padding: 10px;
  border-bottom: 1px solid rgb(223, 223, 223);
  color: gray;
  font-size: 15px;
}

.seller a {
  color: #333;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}

.total_products {
  margin-top: 30px;
  font-size: 24px;
  color: rgb(63, 63, 63);
  font-weight: 600;
}

.single_basket_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.single_basket_product .basket_img a {
  display: flex;
  align-items: center;
  width: 450px;
  color: #333;
}

.single_basket_product .basket_img img {
  width: 80px;
  height: 90px;
  object-fit: cover;
  border-radius: 4px;
}

.basket-product-title {
  width: 350px;
  margin-left: 10px !important;
}

.basket_brand_name,
.basket_product_category,
.basket_size {
  color: #333;
  font-size: 14.5px;
  font-weight: 600;
}

.basket_product_category {
  font-weight: 400;
  font-size: 13px;
}

.basket_size {
  color: #333;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}

.basket-quantity {
  border: 1px solid rgb(223, 223, 223);
  text-align: center;
  background-color: #fafafa;
}

.basket-quantity span {
  display: inline-block;
  text-align: center;
  width: 20px;
  color: #b44747;
  font-size: 16px;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
}

.basket-quantity input {
  border: none;
  border-left: solid 1px #e6e6e6;
  border-right: solid 1px #e6e6e6;
  background-color: #ffffff;
  width: 42px;
  user-select: none;
  height: 34px;
  font-size: 14px;
  color: #4a4a4a;
  box-sizing: border-box;
  outline: none;
  text-align: center;
}

.basket-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basket-actual-price {
  text-decoration: line-through !important;
  font-weight: 400;
  font-size: 16px;
}

.basket-current {
  font-size: 15px;
  color: #b44747 !important;
}

.basket-trash i {
  color: #b44747 !important;
  cursor: pointer;
}

.basket-summary {
  margin-top: 20px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 3px;
  height: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

.basket-total > span {
  color: #333;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}

.basket-total ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px !important;
}

.basket-price-details ul li:first-child {
  color: #333;
  font-size: 14px;
}

.basket-price-details ul:last-child li:first-child,
.basket-price-details ul:last-child li:last-child {
  color: #333;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}

.basket-price-details ul:last-child li:last-child {
  color: #b44747;
}

.basket-price-details ul li:last-child {
  color: #333;
  font-size: 14px;
}

.discount-code {
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.discount-code input {
  border: none;
  background-color: #fafafa;
  border-radius: 3px;
  padding-left: 10px;
  color: #aaaaaa;
  font-size: 15px;
  width: 70%;
}

.discount-code input::placeholder {
  font-size: 14px;
}

.discount-code input:focus {
  border: none;
  outline: none;
}

.discount-code button:disabled {
  padding: 6px 8px;
  border-radius: 3px;
  cursor: pointer;
  color: #8d8d8d;
  background-color: #fafafa;
  width: 30%;
}

.discount-code button {
  padding: 6px 8px;
  border-radius: 3px;
  cursor: pointer;
  color: #ffffff;
  background-color: #b44747;
  width: 30%;
}

.discount-code button:hover {
  color: white;
}

.discount-code button:disabled:hover {
  color: #8d8d8d;
}

button:focus {
  box-shadow: none !important;
}

.basket-confirm {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: #b44747;
  color: white;
  border-radius: 5px;
  padding: 6px;
}

.basket-confirm a {
  color: white;
}
/* Account CSS */
.item-center .menu-main {
  margin-bottom: 0 !important;
}

.tab-pane {
  height: auto !important;
}

.shadow {
  border: 1px solid rgba(5, 6, 30, 0.07);
  box-shadow: none !important;
}

.nav-pills-custom .nav-link {
  color: rgb(153, 153, 153);
  background: #fff;
  position: relative;
  font-weight: 300 !important;
}

.shadow:nth-of-type(1),
.shadow:nth-of-type(2),
.shadow:nth-of-type(3) {
  border-bottom: none;
}

/* @media (min-width: 992px) { */
/* .nav-pills-custom .nav-link::before {
    content: '';
    display: block;
    border-top: 8px solid rgba(5, 6, 30, .07);
    border-left: 10px solid #fff;
    border-bottom: 8px solid rgba(5, 6, 30, .07);
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  } */

/* } */

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

.account-information {
  position: relative;
  height: 290px;
}

.account-information > i {
  font-size: 25px;
  font-weight: 200 !important;
  margin-top: 40px;
  padding: 23px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
  color: rgb(255, 255, 255);
}

.account-information p:nth-of-type(1) {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #05061e;
  margin-top: 22px;
  margin-bottom: 12px;
}

.account-information > span {
  display: inline-block;
  font-size: 14px;
  padding: 7px 12px;
  border-radius: 3px;
  border: 1px solid rgba(5, 6, 30, 0.07);
  color: gray;
}

.account-information > span i {
  color: black;
  margin-right: 5px;
}

.account-information p:nth-of-type(2) {
  position: absolute;
  bottom: 0;
  padding: 12px 0;
  width: 100%;
  font-size: 15px;
  margin-bottom: 0 !important;
  background-color: rgba(5, 6, 30, 0.041);
}

.account-information p:nth-of-type(2) span {
  font-size: 14px;
}

.nav-pills a {
  width: 100%;
  color: rgba(12, 13, 30, 0.5);

  font-weight: 500;
}

.nav-pills a span {
  font-size: 16px;
}

.nav-pills-custom .nav-link.active {
  color: #b44747 !important;
  background: #fff;
  background: rgba(254, 110, 66, 0.089) !important;
}
.tab-header {
  background: url("../../images/tab-header.jpg");
  width: 100%;
  height: 8rem;
  background-size: cover;
  border-radius: 3px;
}
.nav-pills .nav-link {
  border-radius: 0 !important;
}
.nav-pills .nav-link:first-child {
  border-radius: 4px 4px 0 0 !important;
}
.nav-pills .nav-link:last-child {
  border-radius: 0 0 4px 4px !important;
}
.tab-header h3 {
  height: 100%;
  color: rgb(246, 242, 237);
  display: flex;
  align-items: center;
  padding: 30px;
}

.my-account-area .add_basket button {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
  border: 1px solid #b44747 !important;
  background-color: white;
  color: #b44747;
  margin-left: 10px;
}

.my-account-area .add:hover .add_basket button {
  background-color: #b44747;
}

.my-account-area select {
  box-shadow: none !important;
}

.my-account-area .add:hover .add_basket button {
  color: white !important;
}

@media (min-width: 1200px) {
  .my-account-area .container {
    max-width: 1200px !important;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .my-account-area .container {
    max-width: 830px !important;
  }
  .account-information {
    height: 270px;
  }
  .account-information p:nth-of-type(1) {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 12px;
  }

  .account-information > span {
    font-size: 12px;
  }

  .account-information p:nth-of-type(2) {
    font-size: 12px;
  }
  .account-information p:nth-of-type(2) span {
    font-size: 11px;
  }
}

/* Account Edit Profile */

.rounded .form-control:focus {
  box-shadow: none;
  border-color: #e26e6e !important;
}

.rounded input::placeholder {
  font-size: 14.4px;
}

.profile-button,
.password-button {
  background: #b44747 !important;
  box-shadow: none;
  border: none;
  color: white !important;
}

.profile-button:hover,
.password-button:hover {
  background: white !important;
  border: 1px solid #b44747 !important;
  color: #b44747 !important;
}

.profile-button:focus,
.password-button:focus {
  background: #b44747 !important;
  color: white !important;
  box-shadow: none;
}

.profile-button:active,
.password-button:active {
  background: #b44747 !important;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 12.5px;
  margin-bottom: 3px !important;
  color: #999;
}

.change-password .col-md-12 {
  position: relative !important;
}

.change-password .eye {
  position: absolute;
  right: 30px;
  top: 53%;
  color: #7a797e;
  font-size: 14px;
}

.add-adress {
  margin-top: 20px;
  height: 130px;
  border: 1.5px dashed #b44747;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
}

.add-adress:focus {
  outline: none !important;
}

.add-adress p {
  font-size: 16.5px;
  color: #b44747;
  font-weight: 550;
}

.add-adress p i {
  font-size: 30px;
  color: #b44747;
}

#adress .modal-body label {
  font-size: 14px;
  margin-bottom: 5px !important;
}

#adress .modal-body select option:hover {
  background-color: #2a90fd;
  color: white;
}

.modal-footer .save-adress {
  background-color: #b44747 !important;
  border: 1px solid #b44747 !important;
}

.modal-footer .save-adress:focus {
  background-color: #b44747 !important;
  border: 1px solid #b44747 !important;
}

#adress .modal-header .close:focus {
  outline-color: #b44747 !important;
}

#map {
  width: 900px;
  height: 400px;
}

/* Orders Table CSS */

.my-account-area .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
  background: rgba(254, 110, 66, 0.041) !important;
}

.my-account-area .table-bordered thead td,
.my-account-area .table-bordered thead th {
  border-bottom-width: 0.5px !important;
}

.my-account-area .table-bordered td,
.my-account-area .table-bordered th {
  border: 1px solid #eaedf0;
}

.my-account-area .table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #eaedf0;
  border-top: 1px solid #eaedf0;
}

.my-account-area .table td,
.my-account-area .table th {
  color: rgb(75, 75, 75);
  font-size: 15px;
}

.my-account-area .page-item.active .page-link {
  background-color: #b44747 !important;
  border-color: #b44747 !important;
}

.my-account-area .page-link:focus {
  box-shadow: none !important;
  outline: none !important;
}

.my-account-area .page-link {
  color: #b44747 !important;
}

.my-account-area .active > a {
  color: white !important;
}

.my-account-area table.dataTable thead > tr > th.sorting_asc,
.my-account-area table.dataTable thead > tr > th.sorting_desc,
.my-account-area table.dataTable thead > tr > th.sorting,
.my-account-area table.dataTable thead > tr > td.sorting_asc,
.my-account-area table.dataTable thead > tr > td.sorting_desc,
.my-account-area table.dataTable thead > tr > td.sorting {
  padding-right: 14px !important;
  vertical-align: middle !important;
}

.tab-pane .my-address .my-single-address {
  border: 1px solid #b44747;
  padding: 20px;
  /* height: 180px; */
}

/* Product Filter CSS */
.main-product-filter #price {
  height: 45px;
}

.main-product-filter .collapse:not(.show) {
  display: block;
}

.main-product-filter #filterbar {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  float: left;
  margin-top: 3.45rem;
}

.main-product-filter #filterbar input[type="radio"] {
  visibility: hidden;
}

.main-product-filter #filterbar input[type="radio"]:checked {
  background-color: #16c79a;
  border: none;
}

.main-product-filter #filterbar .btn.btn-success {
  background-color: #ddd;
  color: #333;
  border: none;
  width: 115px;
}

.main-product-filter #filterbar .btn.btn-success:hover {
  background-color: #aff1e1;
  color: #444;
}

.main-product-filter
  #filterbar
  .btn-success:not(:disabled):not(.disabled).active,
.main-product-filter
  #filterbar
  .btn-success:not(:disabled):not(.disabled):active {
  background-color: #16c79a;
  color: #fff;
}

.main-product-filter label {
  cursor: pointer;
}

.main-product-filter .tick {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 0;
}

.main-product-filter .tick input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.main-product-filter .check {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.main-product-filter #inner-box3 {
  height: 115px !important;
}

.main-product-filter #inner-box3 div {
  margin-right: 6px;
  height: 30px;
}

.main-product-filter #inner-box3 .check {
  height: 26px;
  width: 26px;
  border-radius: 50%;
}

.main-product-filter .tick:hover input ~ .check {
  background-color: #f3f3f3;
}

.main-product-filter .tick input:checked ~ .check {
  background-color: #b44747;
  border-color: #b44747;
}

.main-product-filter #inner-box3 .tick input:checked ~ .check {
  background-color: #b44747;
  border-color: transparent;
}

.main-product-filter .check:after {
  content: "";
  position: absolute;
  display: none;
}

.main-product-filter .tick input:checked ~ .check:after {
  display: block;
  transform: rotate(45deg) scale(1);
}

.main-product-filter .tick .check:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) scale(2);
}

.main-product-filter #inner-box3 .tick .check:after {
  left: 9px;
  top: 6px;
}

.main-product-filter .box {
  padding: 15px 10px;
}

.main-product-filter .box-label {
  font-size: 14px;
  color: #333333;
  margin-bottom: 8px;
  font-weight: 500;
  text-transform: capitalize !important;
}

.main-product-filter #inner-box,
.main-product-filter #inner-box2 {
  height: 177px;
  overflow-y: scroll;
}

/* .main-product-filter #inner-box2 {
  height: 125px;
} */

.main-product-filter #inner-box::-webkit-scrollbar,
.main-product-filter #inner-box2::-webkit-scrollbar {
  width: 5px;
}

.main-product-filter #inner-box::-webkit-scrollbar-track,
.main-product-filter #inner-box2::-webkit-scrollbar-track,
.main-product-filter #inner-box3::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 2px;
}

.main-product-filter #inner-box::-webkit-scrollbar-thumb,
.main-product-filter #inner-box2::-webkit-scrollbar-thumb,
.main-product-filter #inner-box3::-webkit-scrollbar-thumb {
  background-color: rgb(149, 148, 148);
  border-radius: 2px;
}

.main-product-filter #price {
  height: 45px;
}

.main-product-filter #size input[type="checkbox"] {
  visibility: hidden;
}

.main-product-filter #size input[type="checkbox"]:checked {
  background-color: #16c79a;
  border: none;
}

.main-product-filter #size .btn.btn-success {
  color: #333;
  border: none;
  width: 40px;
  font-size: 0.8rem;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 0;
  background-color: white !important;
}

.main-product-filter #size .btn.btn-success:hover {
  background-color: #aff1e1;
  color: #444;
}

.main-product-filter #size .btn-success:not(:disabled):not(.disabled).active,
.main-product-filter #size .btn-success:not(:disabled):not(.disabled):active {
  background-color: #b44747 !important;
  border: 1px solid #b44747;
  color: #fff;
}

.main-product-filter #size label {
  margin: 10px;
  margin-left: 0px;
}

.main-product-filter #size .btn-group-vertical > .btn,
.btn-group > .btn {
  position: relative;
  -ms-flex: auto !important;
  flex: none;
}

.main-product-filter .middle {
  position: relative;
  width: 100%;
  margin-top: 25px;
}

.main-product-filter .slider {
  position: relative;
  z-index: 1;
  height: 5px;
  margin: 0 15px;
}

.main-product-filter .slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #ddd;
}

.main-product-filter .slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #b44747;
}

.main-product-filter .slider > .thumb {
  position: absolute;
  top: 2px;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: #b44747;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #bd4f4f;
  transition: box-shadow 0.3s ease-in-out;
}

.main-product-filter .slider > .thumb::after {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 28%;
  top: 30%;
  border-radius: 50%;
  content: "";
  background-color: #fff;
}

.main-product-filter .slider > .thumb.left {
  left: 25%;
  transform: translate(-15px, -10px);
}

.product-filter {
  position: sticky !important;
  top: 0px !important;
  overflow-y: auto;
}

.main-product-filter .slider > .thumb.right {
  right: 25%;
  transform: translate(15px, -10px);
}

.main-product-filter .slider > .thumb.hover {
  box-shadow: 0 0 0 10px #bd4f4f48;
}

.main-product-filter .slider > .thumb.active {
  box-shadow: 0 0 0 10px #c75f5f48;
}

.main-product-filter input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}

.main-product-filter input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

.main-product-filter .del {
  text-decoration: line-through;
  color: red;
}

.sort-select select {
  background: transparent;
  padding: 5px 40px 5px 10px;
  font-size: 14.5px;
  color: #666;
  box-sizing: border-box;
  border: 1px solid rgb(235, 235, 235);
  /* border-radius: 4px; */
  margin-top: 0px;
  cursor: pointer;
}

.sort-select select:focus {
  outline: 0;
}

.main-product-filter .filter-mobile {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgb(235, 235, 235);
  padding: 7px 10px;
  display: none;
}

.main-product-filter .box-label .form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.main-product-filter .box-label .form-control {
  display: none;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.main-product-filter .filter-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-product-filter .filter-buttons button {
  outline: none;
  border: 1px solid #b44747;
  border-radius: 3px;
  background-color: #b44747;
  color: white;
  padding: 2px 5px;
  width: 45%;
  font-size: 14px;
}

/*
 @media only screen and (max-width: 1750px) and (min-width: 992px) {
  .add {
    padding: 10px 0;
    border-top: 1px solid #f7f7f5;
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .item_content .add_wishlist {
    margin-top: 5px;
  }
} 
*/

@media only screen and (max-width: 1600px) {
  /* .size_choices input[type="radio"] + label span {
    padding: 2px 5px !important;
  } */
}

@media only screen and (max-width: 1500px) {
  .small-container {
    width: 300px;
  }

  .small-container .show-small-img {
    width: 70px;
  }
}
@media only screen and (max-width: 1400px) {
  .features_items .item_name {
    font-size: 13px;
  }

  .features_items .item_desc {
    font-size: 12px;
  }
  footer .pay_cards img {
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 1300px) {
  .small-container {
    width: 280px;
  }
  .small-container .show-small-img {
    width: 65px;
  }
  .details {
    width: 1100px !important;
    margin: auto;
  }
  .viewed {
    width: 80% !important;
  }
  .small-container {
    width: 280px;
    height: 100px;
  }
  .small-container .show-small-img {
    width: 65px;
    height: 100px;
  }

  .basket {
    width: 1100px;
    margin: 0 auto;
  }
  .home_slider {
    width: 1150px;
  }
  .main_area {
    width: 1150px;
  }
  .main-product-filter #inner-box3 {
    height: 135px !important;
  }

  .main-product-filter #inner-box3 div {
    margin-right: 10px;
    height: 28px;
  }
}

@media only screen and (max-width: 1200px) {
  .basket {
    width: 950px;
    margin: 0 auto;
  }
  .details {
    width: 950px !important;
    margin: auto;
  }
  #headerMain .wrapper {
    width: 900px;
  }
  .home_slider {
    width: 900px;
  }
  .main_area {
    width: 900px;
  }
  #auto-complete-app {
    width: 450px;
    display: flex;
    justify-content: center;
  }
  .autocomplete {
    width: 450px;
    position: relative;
  }
  .rounded h4 {
    font-size: 20.7px !important;
  }
  /* nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    position: relative;
  } */
}

@media only screen and (max-width: 1000px) {
  .basket {
    width: 900px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 991px) {
  #auto-complete-app,
  .autocomplete {
    width: 100%;
  }

  .home_slider {
    width: 700px;
    height: 600px;
  }
  .carousel-item img {
    height: 600px;
  }
  .main_area {
    width: 700px;
  }

  .item_img {
    height: 430px;
  }

  .add {
    padding: 10px 20px;
  }

  .features_items .item_desc {
    padding: 0 20px;
  }

  .features_items .item_name {
    font-size: 18px;
  }

  .features_items .item_desc {
    font-size: 14px;
  }

  .item_content .add_wishlist,
  .item_content .more_details {
    font-size: 14px;
  }

  .footer_content ul {
    text-align: center;
  }

  footer h5 {
    margin-bottom: 0px;
  }

  footer ul li {
    font-size: 15px;
    color: #fff;
    margin: 10px 0 0;
  }
  .footer_social_media div {
    justify-content: center;
  }

  .footer_logo {
    width: 300px;
    height: 150px;
    text-align: center !important;
    margin: auto !important;
  }
  .size_choices input[type="radio"] + label span {
    padding: 7px 10px !important;
  }
  .details {
    width: 80% !important;
  }
  .bbb_viewed_image {
    width: 150px !important;
    height: 230px !important;
    margin-right: 0 !important;
  }
  .bbb_viewed_content {
    width: 150px !important;
  }
  .bbb_viewed_item {
    padding-right: 0px !important;
  }
  .bbb_viewed_slider_container {
    padding-top: 20px !important;
  }
  .bbb_viewed_title {
    font-size: 25px;
  }
  .bbb_viewed_nav_container i {
    font-size: 18px !important;
  }
  .bbb_viewed_prev {
    margin-right: 5px !important;
  }
  .viewed {
    padding-top: 10px !important;
  }
  .small-container {
    width: 480px !important;
    height: 120px !important;
  }
  .small-container .show-small-img {
    width: 115px !important;
    height: 120px !important;
  }
  .basket {
    width: 720px !important;
  }

  .single_basket_product .basket_img a {
    display: flex;
    align-items: center;
    flex-wrap: wrap !important;
    width: 450px;
  }
  .size_choices div {
    margin-right: 0px !important;
  }
  .details_img {
    height: 850px;
  }

  .main-product-filter .box-label .form-control {
    display: block;
  }
  .main-product-filter {
    position: relative !important;
    height: auto;
  }
  .main-product-filter #sort {
    background-color: inherit;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .main-product-filter #sort option,
  .main-product-filter #pro option {
    color: #000;
  }

  .main-product-filter #pro,
  .main-product-filter #select2,
  .main-product-filter .result {
    background-color: inherit;
    color: #fff;
  }
  .price {
    font-size: 0.85rem;
  }

  .main-product-filter .collapse:not(.show) {
    display: none;
  }

  .main-product-filter .box-label .fa-chevron-down {
    display: block;
    font-size: 12px;
    color: gray;
    float: right;
  }

  .main-product-filter #inner-box3 {
    height: 44px !important;
  }

  .main-product-filter .fa-sort-amount-down {
    color: gray;
  }

  .main-product-filter #filterbar {
    margin-top: 0;
    margin-bottom: 30px !important;
    border-top: none;
  }

  .main-product-filter .filter-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-product-filter .box-label {
    margin-bottom: 0px;
  }

  .main-product-filter .box {
    padding: 7px 10px;
  }

  .main-product-filter .new-sale {
    display: flex;
    padding: 10px;
  }

  .main-product-filter .new-sale div:nth-child(2) {
    margin-left: 10px;
  }

  .main-product-filter .filter-buttons {
    padding: 10px;
  }

  .details_info {
    height: 800px;
  }
  .main-product-filter .filter-buttons button {
    padding: 6px;
  }
}

@media only screen and (max-width: 767px) {
  .item_img {
    height: 630px;
  }
  .features_items .item_name {
    font-size: 20px;
  }
  .features_items .item_desc {
    font-size: 15px;
  }
  .item_content .add_wishlist,
  .item_content .more_details {
    font-size: 15px;
  }
  .details_info {
    height: auto !important;
  }
  .bbb_viewed_image {
    width: 120px !important;
    height: 180px !important;
    margin-right: 0 !important;
  }
  .bbb_viewed_content {
    width: 120px !important;
  }
  .small-container {
    width: 420px !important;
    height: 120px !important;
  }
  .small-container .show-small-img {
    width: 100px !important;
    height: 120px !important;
  }
  .basket {
    width: 550px !important;
  }

  .single_basket_product .basket_img a {
    width: 500px;
    margin-bottom: 20px;
  }
  .single_basket_product {
    display: flex;
    flex-wrap: wrap !important;
  }
  .size_choices div {
    margin-right: 5px !important;
  }
  .home_slider {
    width: 500px;
    height: 650px;
  }
  .main_area {
    width: 500px;
  }
  .tab-header {
    margin-top: 30px;
  }
  .user-information > .row > .col-md-6:first-child {
    margin-bottom: 1rem !important;
  }
  .user-information input {
    border-radius: 6px;
  }
  .latitude,
  .add-country {
    margin-bottom: 0.5rem !important;
  }

  .my-account-area .card-body {
    padding: 0.2rem !important;
  }

  .my-account-area .table td,
  .my-account-area .table th {
    font-size: 13px !important;
  }

  .my-account-area .table th {
    font-size: 12px !important;
  }

  .my-account-area table.dataTable thead > tr > th.sorting_asc,
  .my-account-area table.dataTable thead > tr > th.sorting_desc,
  .my-account-area table.dataTable thead > tr > th.sorting,
  .my-account-area table.dataTable thead > tr > td.sorting_asc,
  .my-account-area table.dataTable thead > tr > td.sorting_desc,
  .my-account-area table.dataTable thead > tr > td.sorting {
    padding-right: 14px !important;
    vertical-align: middle;
  }

  .my-account-area #example_info {
    display: none;
  }

  .my-account-area .page-link {
    margin-top: 10px !important;
  }

  .tab-pane .my-address {
    flex-wrap: wrap !important;
  }

  /* .tab-pane .my-address .my-single-address {
    height: 170px !important;
  } */
  .main-product-filter #inner-box3 {
    height: 80px !important;
  }
}

@media only screen and (max-width: 576px) {
  footer {
    padding-top: 0px;
  }

  .product_color,
  .size_choices {
    display: flex !important;
    align-items: center;
  }
  .size_choices div {
    width: 40px;
    height: 30px;
    margin-bottom: 6px !important;
    margin-top: 20px !important;
  }
  .product_color div {
    width: 90px;
    height: 80px;
    margin-bottom: 6px !important;
    margin-top: 6px !important;
  }
  .product_color div img {
    width: 100%;
    height: 100%;
  }
  .details_basket {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
  }
  .details_add {
    width: 70%;
  }
  .details_whislist {
    width: 20%;
  }
  .details {
    width: 90% !important;
  }
  .viewed {
    width: 90% !important;
    margin: auto;
    padding-top: 10px !important;
  }
  .bbb_viewed_slider_container {
    padding-top: 10px !important;
  }
  .bbb_viewed_title {
    font-size: 20px;
  }
  .bbb_viewed_nav_container i {
    font-size: 15px !important;
  }
  .bbb_viewed_prev {
    margin-right: 5px !important;
  }
  .bbb_viewed_image {
    width: 150px !important;
    height: 190px !important;
    margin-right: 0 !important;
  }
  .bbb_viewed_content {
    width: 150px !important;
  }
  .small-container {
    width: 363px !important;
    height: 120px !important;
  }
  .small-container .show-small-img {
    width: 86px !important;
    height: 120px !important;
  }
  .basket {
    width: 390px !important;
  }

  .single_basket_product .basket_img a {
    width: 350px;
  }

  .basket-product-title {
    width: 250px;
  }

  .basket_product_category {
    font-size: 12px;
  }
  .basket_brand_name,
  .basket_size {
    font-size: 12.5px;
  }
  .home_slider {
    width: 450px;
    height: 500px;
  }
  .main_area {
    width: 450px;
  }
  .carousel-item img {
    height: 500px;
  }
  .details_img {
    height: 750px !important;
  }
  #sync1 .owl-nav {
    display: none;
  }
  :root {
    --star-size: 16.5px;
  }
  .main-product-filter .filter-buttons button {
    padding: 5px;
  }
  .basket {
    width: 480px !important;
  }
}
@media only screen and (max-width: 500px) {
  .product_details {
    margin-top: 20px !important;
  }
  .bbb_viewed_image {
    width: 115px !important;
    height: 170px !important;
    margin-right: 0 !important;
  }
  .details_basket .details_whislist i {
    color: lightgray !important;
  }
  .home_slider {
    width: 390px;
  }
  .main_area {
    width: 390px;
  }

  .my-account-area .table td,
  .my-account-area .table th {
    padding: 0.3rem !important;
  }

  .my-account-area .table td,
  .my-account-area .table th {
    font-size: 12px !important;
  }

  .my-account-area .table th {
    font-size: 12px !important;
  }

  .my-account-area .my-account-area .page-link {
    padding: 0.2rem 0.4rem !important;
  }

  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before,
  table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%) !important;
    display: block;
  }
  .basket {
    width: 400px !important;
  }
  /* .tab-pane .my-address .my-single-address {
    height: 170px !important;
  } */
}

@media only screen and (max-width: 425px) {
  .features_items .item_name {
    font-size: 16px;
  }

  .features_items .item_desc {
    font-size: 14px;
  }

  .item_content .add_wishlist,
  .item_content .more_details {
    font-size: 12px;
  }
  .add {
    padding: 10px;
  }
  .size_choices input[type="radio"] + label span {
    padding: 5px 7px !important;
  }
  /* .show {
    height: 450px !important;
  } */
  .details_img {
    height: 500px !important;
    margin-bottom: 30px;
  }
  #sync1 {
    height: 500px;
  }
  #sync1 .item {
    height: 500px !important;
  }
  .bbb_viewed_image {
    width: 90px !important;
    height: 140px !important;
  }
  .bbb_viewed_content {
    width: 90px !important;
    height: 70px !important;
  }
  .bbb_viewed_price {
    font-size: 12px !important;
  }
  .bbb_viewed_name a {
    font-size: 12px !important;
  }
  .bbb_viewed_name {
    margin-top: 0px !important;
  }
  .small-container {
    width: 280px !important;
    height: 100px !important;
  }
  .small-container .show-small-img {
    width: 65px !important;
    height: 100px !important;
  }
  .basket {
    width: 320px !important;
  }

  .single_basket_product {
    padding: 10px !important;
  }

  .single_basket_product .basket_img a {
    width: 260px;
  }
  .basket-product-title {
    width: 170px;
  }
  .basket_product_category {
    font-size: 11px;
  }
  .basket_brand_name,
  .basket_size {
    font-size: 11.5px;
  }

  .main_area {
    width: 350px;
  }
  .item_img {
    height: 400px;
  }
  .tab-pane .my-address .my-single-address .my-full-address {
    font-size: 12px !important;
  }
  .add_wishlist button,
  .more_details button {
    font-size: 15.5px;
  }
}
@media only screen and (max-width: 375px) {
  .carousel-item img {
    height: 450px;
  }
  .main_area {
    width: 300px;
  }
  .item_img {
    height: 380px;
  }
  #account-navigation-container .account-navigation-wrapper div {
    margin: 0 1px !important;
    color: rgb(31, 31, 31);
  }
  .sort-select select {
    padding: 5px 10px;
  }
  .product-filter > span,
  .features_items .d-flex > span {
    padding: 2px 7px 4px 7px;
    font-size: 15px;
  }
  .features_items .d-flex > span {
    line-height: 1.8;
  }
  .basket {
    width: 290px !important;
  }
}
