@font-face {
  font-family: "Flaticon";
  src: url(../../../../../../../../../themes/ecome/assets/fonts/flaticon/Flaticon.eot);
  src: url("../../../../../../../../../themes/ecome/assets/fonts/flaticon/Flaticond41d.eot?#iefix")
      format("embedded-opentype"),
    url(../../../../../../../../../themes/ecome/assets/fonts/flaticon/Flaticon.woff)
      format("woff"),
    url(../../../../../../../../../themes/ecome/assets/fonts/flaticon/Flaticon.ttf)
      format("truetype"),
    url("../../../../../../../../../themes/ecome/assets/fonts/flaticon/Flaticon.svg#Flaticon")
      format("svg");
  font-weight: 400;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../../../../../../../../themes/ecome/assets/fonts/flaticon/Flaticon.svg#Flaticon")
      format("svg");
  }
}
[class^="flaticon-"] {
  font-size: 20px;
  line-height: 1;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}
.flaticon-reload:before {
  content: "\f100";
}
.flaticon-layers:before {
  content: "\f101";
}
.flaticon-technology-1:before {
  content: "\f102";
}
.flaticon-print-button:before {
  content: "\f103";
}
.flaticon-mouse:before {
  content: "\f104";
}
.flaticon-console:before {
  content: "\f105";
}
.flaticon-smartphone:before {
  content: "\f106";
}
.flaticon-technology:before {
  content: "\f107";
}
.flaticon-box-1:before {
  content: "\f108";
}
.flaticon-box:before {
  content: "\f109";
}
.flaticon-search:before {
  content: "\f10a";
}
.flaticon-phone-call:before {
  content: "\f10b";
}
.flaticon-clock:before {
  content: "\f10c";
}
.flaticon-telemarketer:before {
  content: "\f10d";
}
.flaticon-safety:before {
  content: "\f10e";
}
.flaticon-credit-card:before {
  content: "\f10f";
}
.flaticon-truck:before {
  content: "\f110";
}
.flaticon-interface:before {
  content: "\f111";
}
.flaticon-placeholder:before {
  content: "\f112";
}
.flaticon-people:before {
  content: "\f113";
}
.flaticon-profile:before {
  content: "\f114";
}
.flaticon-shiny-diamond:before {
  content: "\f115";
}
.flaticon-flash:before {
  content: "\f116";
}
.flaticon-signs-1:before {
  content: "\f117";
}
.flaticon-shapes-1:before {
  content: "\f118";
}
.flaticon-signs:before {
  content: "\f119";
}
.flaticon-shapes:before {
  content: "\f11a";
}
.flaticon-rocket-launch:before {
  content: "\f11b";
}
.flaticon-eye:before {
  content: "\f11c";
}
.flaticon-arrows-1:before {
  content: "\f11d";
}
.flaticon-arrows:before {
  content: "\f11e";
}
.flaticon-heart-shape-outline:before {
  content: "\f11f";
}
.flaticon-online-shopping-cart:before {
  content: "\f120";
}
